<html>
<head>
<style>
img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p{
color: navy;
display: block;
text-align:center;
font-size: 160%;
}
form{
color: navy;
display: block;
text-align:center;
font-size: 160%;
}
</style>
</head>
<title>Find Friends Episode</title>



<form action="/" method="POST">
    <p>Enter Dialogue from F.R.I.E.N.D.S. to find it's episode</p>
    <input type="text" name="q" id="q">
    <input type="submit" value="search episode">
</form>
</html>